.Login {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-height: 800px) {
    min-height: 800px;
  }
  &-header {
    margin-bottom: 5rem;
  }

  &-content {
    & > img {
      width: 600px;
      object-fit: cover;
      display: none;
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      & > img {
        display: block;
      }
    }
  }

  &-form {
    max-width: 700px;
    margin: auto;
    @media (min-width: 1024px) {
      width: 40%;
      max-width: 500px;
    }

    input {
      font-size: 14px;
    }

    .form {
      &-head {
        margin-bottom: 3.7rem;
      }

      &-body {
        display: grid;
        gap: 1.5rem;
      }
    }

    h1 {
      margin-bottom: 10px;
    }
  }

  .btn {
    margin-top: 1.5rem;
  }
}
