.DashBoard {
  background: #fbfbfb;

  &-Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: white;
    z-index: 2;
  }
  &-SideBar {
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    padding-top: 110px;

    z-index: 1;
    height: 100vh;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-Main {
    padding: 170px 60px 60px 310px;
    min-height: 100vh;

    @media (max-width: 1200px) {
      padding: 150px 40px 40px 290px;
    }
  }
}
