.Filter {
  position: absolute;
  display: grid;
  gap: 20px;
  max-width: 270px;
  z-index: 1;
  margin-top: 4rem;

  > label {
    display: grid;
    gap: 8px;
  }

  input.form-group,
  select.form-group {
    padding: 12px;
    border-radius: 8px;
    width: 100%;
  }
}
