.Users {
  display: grid;
  gap: 40px;
  p {
    font-size: 14px;
  }

  &-Stats {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;

    .box {
      max-width: 300px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .icon {
      border-radius: 50%;
      margin-bottom: 14px;
      width: 40px;
    }

    p {
      margin-bottom: 12px;
      text-transform: uppercase;
    }
  }

  &-List {
    overflow-x: hidden;
    position: relative;

    &.box {
      padding-right: 3rem !important;
    }

    &-Container {
      overflow-x: auto;

      .Row {
        display: grid;
        min-width: 900px;
        gap: 1rem;
        padding: 1rem 0;
        padding-right: 2rem;
        grid-template-columns: 3fr 2fr 3fr 2fr 2fr 1fr;
        align-items: center;

        .status {
          padding: 7px 13px;
          border-radius: 999px;
          width: max-content;
          background: #545f7d0e;
        }

        p {
          word-break: break-all;
        }
      }
    }

    button {
      color: #545f7d;
    }

    &-Item {
      border-bottom: 1px solid #213f7d1a;

      &-Actions {
        position: absolute;
        right: 2rem;

        svg {
          font-size: 20px;
        }

        .box.menu {
          display: grid;
          position: absolute;
          padding: 20px;
          right: -75%;
          top: 150%;
          width: max-content;
          gap: 20px;
          background: #fff;
          z-index: 1;

          a {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 13px;

            svg {
              font-size: 16px;
            }
          }
        }
      }
    }

    &-Page-Control {
      * {
        font-size: 16px;
      }
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: -20px;

      & > div {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: 951px) {
          width: max-content;
          margin: auto;
        }
      }
      .bg-grey {
        background: #213f7d1a;
        padding: 7px 12px;
        border-radius: 8px;
        color: #213f7d;
        line-height: 0;

        * {
          font-size: 14px;
        }
      }
      .item-per-page {
      }

      .pagination {
        .bg-grey {
          padding: 8px;

          &:disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }

        .page-num {
          color: #545f7d;
          opacity: 0.6;

          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
}
